<div class="field-name"><b>{{fieldName}}</b></div>
{{#each values}}
    <div class="indent-12 field-value" data-field-value="{{value}}" data-value-count="{{count}}" data-field-name="{{../fieldName}}"><a href="#">{{value}} ({{count}})</a></div>
{{/each}}
