<div class="nav-header">
    {{fieldName}}
</div>
<table class="table table-striped resultTable vertical-shrink-rows no-margin-bottom">
    <tbody>
    {{#each values}}
        <tr>
            <td>
                <div class="pull-left margin-right-6">
                    <input class="{{#is isInFilter true}} remove-facet {{else}} add-facet {{/is}}" type="checkbox"
                        {{#is isInFilter true}} checked="checked" {{/is}} data-field-value="{{value}}" data-value-count="{{count}}" data-field-name="{{../fieldName}}"/>
                </div>
                <div class="pull-left" title="{{value}}">{{value}}</div>
                <div class="field-value pull-right margin-left-3 {{#is isInFilter true}} remove-facet {{else}} add-facet {{/is}}" data-field-value="{{value}}" data-value-count="{{count}}" data-field-name="{{../fieldName}}"><a href="#">({{count}})</a></div>
            </td>
        </tr>
    {{/each}}
    {{#is values.length 0}}
        <tr>
            <td>
                <div class="pull-right">No Matches</div>
            </td>
        </tr>
    {{/is}}
    </tbody>
</table>



