<div class="clearfix">
    <div class="pull-left">
        <div class="metadata-field-group">
            <select class="ddf" name="fieldName">
                {{#each fields}}
                    <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="operator-group">
            <select class="ddf" name="fieldOperator">
                {{#is fieldType "string"}}
                    {{#each operations.string}}
                        <option value="{{.}}">{{.}}</option>
                    {{/each}}
                {{/is}}
                {{#is fieldType "date"}}
                    {{#each operations.date}}
                        <option value="{{.}}">{{.}}</option>
                    {{/each}}
                {{/is}}
                {{#is fieldType "number"}}
                    {{#each operations.number}}
                        <option value="{{.}}">{{.}}</option>
                    {{/each}}
                {{/is}}
                {{#is fieldType "anyGeo"}}
                    {{#each operations.geo}}
                        <option value="{{.}}">{{.}}</option>
                    {{/each}}
                {{/is}}
            </select>
        </div>
        <div class="input-group">
            {{#is fieldType "string"}}
                <input class="string-field" type="text" placeholder="Some value." name="stringValue1"/>
            {{/is}}
            {{#is fieldType "date"}}
                <div class="has-feedback">
                    <input class="date-field" type="text" placeholder="Some value." name="dateValue1"/>
                    <span class="form-control-feedback"><i class="fa fa-calendar"></i></span>
                </div>
            {{/is}}
            {{#is fieldType "number"}}
                <input class="number-field" type="text" placeholder="Some value." name="numberValue1"/>
            {{/is}}
            {{#is fieldType "anyGeo"}}
                <input class="geo-field" type="text" placeholder="Some value." name="geoValue1"/>
            {{/is}}
        </div>
    </div>
    <div class="pull-right">
        <div class="button-group">
            {{^isOnlyFilter}}
            <i class="fa fa-times remove fa-lg"></i>
            {{/isOnlyFilter}}
            <!--<button class="btn btn-sm btn-danger remove" {{#isOnlyFilter}}disabled="disabled" title="You must have at least 1 filter."{{/isOnlyFilter}}>-->
                <!--<i class="fa fa-times"></i>-->
            <!--</button>-->
        </div>
    </div>
</div>